@import "config";

.filters {
  display: flex;
  margin-bottom: $gutter * 2;
  justify-content: center;
  list-style: none;

  &__filter {
    padding: $gutter / 2 $gutter;
    margin-right: $gutter;
    margin-left: $gutter;

    font-family: $font-heading;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    background-color: #ccc;
    border-radius: 16px;
    outline: none;

    transition: background-color 300ms ease-in-out;
    &:hover{
      background-color: #aaa;
    }

&__html{
  outline:none;
}

    
  }
}

.button{
  background-color: #ccc;
  transition: background-color 300ms ease-in-out;
  outline:none;
  &:hover{
    background-color: #aaa;
  }

  &__html{
    background-color: #2d2;
       &:hover{
        background-color: #2d2;
     }
  }

  &__css{
    background-color: #2d2;
    &:hover{
      background-color: #2d2;
    }
  }

  &__js{
    background-color: #2d2;
    &:hover{
      background-color: #2d2;
    }
  }
  

}